.ChannelList button {
  background: none !important;
  border: none;
  padding: 0 !important;

  /*optional*/
  font-family: arial, sans-serif; /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

.ChannelList button:hover {
  text-decoration: underline;
}
